@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h5> Take me to the <a asp-controller="Registration" asp-action="RegistrationForm"> Registration form </a></h5>

</div>
